user_uuid="6634e858-24dd-4672-a32e-01ec9029a9fd"
bucket_name="1bolgaxju0a93klb"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1